<section class="mx-auto bg-gray-50 p-4 rounded border shadow w-1/2">
  <h1 class="text-3xl font-light text-center text-green-600">
    Forgot Password
  </h1>

  @if (step == 1) {
  <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()">
    <div class="mb-1">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900"
        >Email</label
      >
      <input
        formControlName="email"
        type="email"
        id="email"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      />
    </div>

    <button
      [disabled]="verifyEmail.invalid"
      type="submit"
      class="disabled:bg-gray-700 bg-green-600 hover:bg-green-800 text-white py-2 px-10 border rounded mt-3 transition-colors duration:500"
    >
      Verify Email 
      @if (isLoading) {
      <span><i class="fas fa-spin fa-spinner"></i></span>
      }
    </button>
  </form>

  } @else if (step == 2) {

  <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()">
    <div class="mb-1">
      <label
        for="resetCode"
        class="block mb-2 text-sm font-medium text-gray-900"
        >code</label
      >
      <input
        formControlName="resetCode"
        type="text"
        id="resetCode"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      />
    </div>

    <button
      [disabled]="verifyCode.invalid"
      type="submit"
      class="disabled:bg-gray-700 bg-green-600 hover:bg-green-800 text-white py-2 px-10 border rounded mt-3 transition-colors duration:500"
    >
      Verify Code
      @if (isLoading) {
        <span><i class="fas fa-spin fa-spinner"></i></span>
        }
    </button>
  </form>

  } @else if (step == 3) {
  <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()">
    <div class="mb-1">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900"
        >Email</label
      >
      <input
      readonly
        formControlName="email"
        type="email"
        id="email"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      />
    </div>

    <div class="mb-1">
      <label
        for="newPassword"
        class="block mb-2 text-sm font-medium text-gray-900"
        >newPassword</label
      >
      <input
        formControlName="newPassword"
        type="password"
        id="newPassword"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      />
    </div>

    <button
      [disabled]="resetPassword.invalid"
      type="submit"
      class="disabled:bg-gray-700 bg-green-600 hover:bg-green-800 text-white py-2 px-10 border rounded mt-3 transition-colors duration:500"
    >
      Reset Password
      @if (isLoading) {
        <span><i class="fas fa-spin fa-spinner"></i></span>
        }
    </button>
  </form>
  }
</section>
